/* Tema claro / escuro */
:root {
  --bg: #FFF;
  --texto: #111;
  --borda: #e5e7eb;
  --caixa: #f8fafc;
  --acao: #2563eb;
}

[data-tema="escuro"] {
  --bg: #0b1220;
  --texto: #e5e7eb;
  --borda: #1f2937;
  --caixa: #111827;
  --acao: #38bdf8;
}

/* Estilos Padrão */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--bg);
  color: var(--texto);
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial;
  min-height: 100vh;
}

/* Cabeçalho */
.topo {
  border-bottom: 1px solid var(--borda);
}

.topo .container {
  padding: .7rem .9rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Cadasreo de dados*/
.caixa {
  background-color: var(--caixa);
  border: 1px solid var(--borda);
  border-radius: .5rem;
  max-width: 80%;
  padding: 2rem 1rem;
  margin: 1rem auto;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: .3rem;
}

p {
  margin-bottom: .7rem;
}

form {
  display: grid;
  gap: .5rem;
}

label {
  font-weight: 600;
}

input {
  padding: .7rem .9rem;
  border-radius: .5rem;
  border: 1px solid var(--borda);
}

.btn {
  max-width: 200px;
  padding: .5rem .9rem;
  border: 1px solid var(--borda);
  border-radius: .5rem;
  cursor: pointer;
}

.btn.primario {
  background-color: var(--acao);
  color: var(--bg);
  margin-top: 1rem;
}

/* Rodapé */
.rodape {
  border-top: 1px solid var(--borda);
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 600;
}